<launch>
  <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />
    

  <group ns="robot1">
        <!-- Remap follow_joint_trajectory -->
    <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/robot1/arm_controller/follow_joint_trajectory"/>
  
      <!-- Launch moveit -->
    <include file="$(find ur10_e_moveit_config)/launch/move_group.launch">
      <arg name="limited" default="$(arg limited)"/>
      <arg name="debug" default="$(arg debug)" />
    </include>

  </group>

  <group ns="robot2">
        <!-- Remap follow_joint_trajectory -->
    <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/robot2/arm_controller/follow_joint_trajectory"/>
  
      <!-- Launch moveit -->
    <include file="$(find ur10_e_moveit_config)/launch/move_group.launch">
      <arg name="limited" default="$(arg limited)"/>
      <arg name="debug" default="$(arg debug)" />
    </include>

  </group>

</launch>
